<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .container{
    margin: 0;
    width: 50%;
    margin-top:20px;
}
.card{
    width: 90%;
    height: 13vh;
    margin-top: 5px;
}
        button{
    background-color: #096ee0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 7px;
    width: 120px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
}
    </style>
</head>
<body>
<div>
    <h1>User Dashboard</h1>
    <hr>
    <div class="container">
        <h2 > Hi</h2><br/>
    </div>
    <div class="card">
        <h2>Congratulations your account has been Verified, Thanks </h2>
    </div>
</div>
</body>
</html>
